@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

$min-contrast-ratio: 2;
$purple: #6d5cae;
$blue: #4e73df;
$cyan: #36b9cc;
$red: #e74a3b;
$green: #1ab394;
$yellow: #f8ac59;
$body-bg: #e4e4e4;
$custom-colors: (
  'purple': $purple,
  "success": $green,
  "primary": $blue,
  "info": $cyan,
  "danger": $red,
  "accent": $purple
);
$theme-colors: map-merge($theme-colors, $custom-colors);
$font-size-root: 13px;
$base-font-family: 'IRANYekanX', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif: $base-font-family;
$caret-width: 4px;
$caret-vertical-align: 0;
$caret-spacing: 8px;
$hr-opacity: 0.1;
$input-padding-y: 0.65rem;
$form-select-padding-y: 0.65rem;
$dropdown-item-padding-y: 0.40rem;
$btn-padding-y: 0.5rem;

$backend-navbar-height: 50px;
$backend-aside-width: 250px;
$backend-aside-min-width: 50px;

$form-check-input-width: 1.6em;

$link-color: #4e73df;
$link-decoration: none;
$link-shade-percentage: 30%;

$custom-table-colors: (
  "success": #d9fbce,
  "warning": #fbf6ce,
  "danger": #fbcece,
);
$table-variants: map-merge($table-variants, $custom-table-colors);
